<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>AuthenFilter</filter-name>
        <filter-class>hautt.filters.AuthenFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>hautt.listeners.ContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>SearchAllCakesController</servlet-name>
        <servlet-class>hautt.controllers.SearchAllCakesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>hautt.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>hautt.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCakeController</servlet-name>
        <servlet-class>hautt.controllers.CreateCakeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCakeController</servlet-name>
        <servlet-class>hautt.controllers.SearchCakeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginFacebookController</servlet-name>
        <servlet-class>hautt.controllers.LoginFacebookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FowardUpdatePageController</servlet-name>
        <servlet-class>hautt.controllers.FowardUpdatePageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCakeController</servlet-name>
        <servlet-class>hautt.controllers.UpdateCakeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>hautt.controllers.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFromCartController</servlet-name>
        <servlet-class>hautt.controllers.RemoveFromCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartController</servlet-name>
        <servlet-class>hautt.controllers.UpdateCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutController</servlet-name>
        <servlet-class>hautt.controllers.CheckoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllUsersController</servlet-name>
        <servlet-class>hautt.controllers.ViewAllUsersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchAllCakesController</servlet-name>
        <url-pattern>/SearchAllCakesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCakeController</servlet-name>
        <url-pattern>/CreateCakeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCakeController</servlet-name>
        <url-pattern>/SearchCakeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginFacebookController</servlet-name>
        <url-pattern>/LoginFacebookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FowardUpdatePageController</servlet-name>
        <url-pattern>/FowardUpdatePageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCakeController</servlet-name>
        <url-pattern>/UpdateCakeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/AddToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFromCartController</servlet-name>
        <url-pattern>/RemoveFromCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartController</servlet-name>
        <url-pattern>/UpdateCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutController</servlet-name>
        <url-pattern>/CheckoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllUsersController</servlet-name>
        <url-pattern>/ViewAllUsersController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <res-ref-name>DBConn</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <listener>
        <listener-class>hautt.listeners.ContextListener</listener-class>
    </listener>
    <context-param>
        <param-name>log4jProperties</param-name>
        <param-value>WEB-INF/log4j.properties</param-value>
    </context-param>
</web-app>
